html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

header {
  background-color: #515979;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 24px;
}

footer {
  background-color: #515979;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  margin-top: auto;
}

#viewDiv {
  height: 80%;
  width: 90%;
  margin: 20px auto;
  position: relative;
}

#filterContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  font-weight: 200;
}

footer a {
  color: #d2dcd2;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #81d3e5;
  text-decoration: underline;
  text-decoration: none;
}
